/* bakgrunnsbilde øverst på side */
#forside-bilde {
    position: relative;
    display: grid;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    /*Bakgrunnsbilde legges til i css-fil som er spesifikt til faget*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    text-align: center;
    align-items: center;
    font-size: 3rem;
}
/* overskrift over bakgrunnsbilde */
#forside-bilde h1 {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
/* Knapp tilbake til realfagssiden */
#tilbake-knapp{
    padding: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    background-color: white;
    border-radius: 0 8px 8px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /*plasserer elementet øverst til venstre*/
    position: absolute;
    top: 15px;
    left: 0px;
    /*Gjevn overgang fra hover*/
    transition-duration: 0.1s;
}
/*Hovereffekt til tilbakeknappen*/
#tilbake-knapp:hover{
    padding-left: 10px;
    transition-duration: 0.1s;
}
/* informerende tekst om programfag */
#intro-tekst {
    width: 100%;
    padding: 25px 15px 5px 15px;
    font-size: 1.5rem;
    text-align: center;
}
#intro-tekst > p{
    padding: 5px;
}
/* knapper som tar deg ønsket del av siden */
#fagnummer-knapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
/* tekst inni knappene */
#fagnummer-knapper a {
    background-color: var(--elvebakken_blå);
    height: 60px;
    flex-grow: 1;
    flex-basis: 200px;
    margin: 20px;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    font-size: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

    transition: transform 0.2s;
}
/* gjøre knappene lysere ved hover */
#fagnummer-knapper a:hover {
    transform: translateY(-3px);
}
/* invividuel style for hver knapp */
#første-fag {
    background-color: var(--elvebakken_blå) !important;
}
#første-fag:hover {
    background-color: var(--elvebakken_blå_lys) !important;
}
#andre-fag {
    background-color: var(--mørke_grønn) !important;
}
#andre-fag:hover {
    background-color: var(--lyse_grønn) !important;
}

/*Liste med forskjeller mellom R- og S-matte. Eksisterer bare på matte-sidene*/
#forskjell-r-og-s-matte{
    margin: 20px 40px 50px 40px;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--elvebakken_gul);
    font-size: 1.3rem;
}
#forskjell-r-og-s-matte > h2{
    text-align: center;
    padding: 5px;
}
#forskjell-r-og-s-matte p{
    padding: 7px;
}


/* får forsidebilde til å ta mindre plass av skjermen, gjør tekst under mindre og padding mindre når bredden er under 400px */
@media (max-width: 400px) {
    #forside-bilde {
        font-size: 12vw;
        height: 40vh;
    }
    #intro-tekst {
        font-size: 1.2rem;
    }
    #fagnummer-knapper {
        padding: 10px;
    }
    #forskjell-r-og-s-matte{
        margin: 20px 30px 40px 30px;
        font-size: 1.1rem;
    }
}
/* overskrift for hvert av "nivåene" for programfagene */
.fag-informasjon h2 {
    padding: 20px;
    font-size: 2.5rem;
}
/* boksene med informasjon */
.informasjonsbokser {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr auto auto auto auto; /* størrelse på bokser baserer seg på innhold */
    grid-template-areas:
            "s r"
            "s v"
            "h h"
            "a a"
            "e m"
            "d d"
            "i i";
    width: 100%;
    gap: 20px;
    padding-inline: 20px;
    padding-bottom: 20px;
}
.informasjonsbokser > div, .flere-prosjekter {
    background-color: var(--elvebakken_blå_lys);
    border-radius: 15px;
    padding: 15px;
}
/* nederste boks med flere prosjekter */
.flere-prosjekter {
    margin: 30px 20px 20px 20px;
}
.flere-prosjekter p{
    font-size: 1.1rem;
    padding-block: 10px;
}
.flere-prosjekter a{
    text-decoration: none;
    font-size: 1.1rem;
}
/*Liste med sentrale temaer*/
.sentrale-temaer {
    grid-area: s;
}
.sentrale-temaer > ul{
    padding: 10px 25px;
}
.sentrale-temaer > ul > li{
    padding: 5px;
    font-size: 1.1rem;
}
/* setter overskriftene til boksene til samme størrelse */
.informasjonsbokser h3, .flere-prosjekter h3 {
    font-size: 2rem;
}

.rask-oversikt {
    grid-area: r;
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr; /* fordeler elementene i listen utover boksen */
    align-items: center;
    background-color: var(--elvebakken_rosa) !important;
}
.rask-oversikt li {
    font-size: 1.3rem;
    padding-left: 5px;
}
.visuelt-element {
    grid-area: v;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hvordan-jobber-vi {
    grid-area: h;
    background-color: var(--lyse_grønn) !important; /* overstyrer originalfarge */
}
.hvordan-jobber-vi p {
    padding-block: 7px;
    font-size: 1.1rem;
}
.avlangt-visuelt-element {
    grid-area: a;
    display: flex;
    flex-wrap: wrap;
}

/* midtstiller bilder i avlang bilde-boks */
.avlangt-visuelt-element img {
    flex-direction: row;
    flex-basis: 400px;
    flex-grow: 1;
    height: 400px;
    overflow: hidden;
    margin: 15px;
    border-radius: 15px;
    object-fit: cover;
}
.elev-sitat {
    grid-area: e;
}
.elev-sitat p{
    font-size: 1.1rem;
    padding-top: 10px;
}
.mer-informasjon {
    grid-area: m;
    display: grid;
    grid-template-rows: auto 1fr 1fr; /* fordeler liste-elementer likt nedover boks */
    align-items: center;
    background-color: var(--elvebakken_gul) !important;
}
.mer-informasjon li {
    font-size: 1.1rem;
    padding-left: 5px;
}
.mer-informasjon li a {
    color: black;
}
/* lenkefarge ved hover */
.mer-informasjon li a:hover {
    color: var(--elvebakken_blå);
}
.divider-element {
    background-color: var(--elvebakken_rosa) !important;
    grid-area: d;
}

/* interaktivt element */
.interaktivt-element {
    background-color: var(--lyse_grønn) !important;
    grid-area: i;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.interaktivt-element iframe {
    background-color: white;
}


/* endrer boksplassering når bredden er under 700px og oppsettet i lenke-boksene og bildeboksene */
@media (max-width: 700px) {
    .informasjonsbokser {
        display: flex;
        flex-direction: column;
    }
    .rask-oversikt li, .mer-informasjon li{
        padding-block: 10px;
    }
    .visuelt-element {
        width: 100%;
        height: 200px;
        overflow: hidden;
    }
    .avlangt-visuelt-element {
       flex-direction: row;
       padding-bottom: 0 !important;
    }
    .avlangt-visuelt-element img{
        width: 100%;
        margin: 0px;
        margin-bottom: 15px;
        border-radius: 15px;
        height: 200px;
    }

    iframe {
        width: 100%;
    }
}