:root {
    --antall_programfag: 15;
    --side_man_kommer_ifra: "SSØ"; /* Brukes til å gå tilbake til riktig side når man går inn på en av mattesidene*/
}

@media (max-width: 600px){
    #forside > h1{
        font-size: 13vw;
    };
};