:root {
    --biologi_blå: #0E1C36;
    --biologi_grønn: #20BF55;
    --biologi_lilla: #927991;
    --biologi_rosa: #ED6A5A;
}
/* bakgrunnsbilde øverst på side */
#forside-bilde {
    background-image: url("/Fagvalgsider_Elvebakken_VGS/assets/imgs/biologi/dna.png"); /* her kan bildet endres */
}
.visuelt-element {
    background-image: url("/Fagvalgsider_Elvebakken_VGS/assets/imgs/biologi/blodceller.png"); /* bilde kan byttes ut */
}
#fagnummer2 .visuelt-element {
    background-image: url("/Fagvalgsider_Elvebakken_VGS/assets/imgs/biologi/sommerfugler.png"); /* bilde kan byttes ut */
}
/*Liste over sentrale temaer*/
.sentrale-temaer > ul > li {
    list-style-type: none;
    font-weight: bold;
}
.sentrale-temaer > ul {
    -webkit-padding-start: 0;
    padding-block: 1vw;
    padding: 0;
}
.sentrale-temaer li {
    padding: 1vw;
}/*
#andre-fag {
    background-color: var(--mørke_grønn) !important;
}
#andre-fag:hover {
    background-color: var(--lyse_grønn) !important;
}*/
.rask-oversikt, .divider-element {
    background-color: var(--biologi_rosa) !important; 
}
.hvordan-jobber-vi, .interaktivt-element, #andre-fag {
    background-color: var(--biologi_blå) !important; /* overstyrer originalfarge */
    color: white !important;
}
#andre-fag:hover {
    background-color: #1A2843 !important;
}
.mer-informasjon {
    background-color: var(--biologi_grønn) !important; 
}
iframe {
    width: 100%;
    height: 520px;
    border: none;
}