.spill-tittel-div {
    font-family: 'Oslo Sans', sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}

canvas {
    border: 1px solid black;
    display: block;
    margin: 0 auto;
}

button {
    padding: 10px 20px;
    margin: 4px;
    box-sizing: border-box;
}

body {
    font-family: 'Oslo Sans', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
}

#advanced-settings {
    display: none;
}