/* bakgrunnsbilde øverst på side */
#forside-bilde {
    background-image: url("/Fagvalgsider_Elvebakken_VGS/assets/imgs/fysikk/placeholder_fysikk.png"); /* her kan bildet endres */
}
.visuelt-element {
    background-image: url("/Fagvalgsider_Elvebakken_VGS/assets/imgs/fysikk/placeholder_fysikk.png"); /* bilde kan byttes ut */
}
#fagnummer2 .visuelt-element {
    background-image: url("/Fagvalgsider_Elvebakken_VGS/assets/imgs/fysikk/placeholder_fysikk.png"); /* bilde kan byttes ut */
}