/* bakgrunnsbilde øverst på side */
#forside-bilde {
    background-image: url("/assets/imgs/"); /* her kan bildet endres */
}
.visuelt-element {
    background-image: url("/assets/imgs/"); /* bilde kan byttes ut */
}
#fagnummer2 .visuelt-element {
    background-image: url("/assets/imgs/"); /* bilde kan byttes ut */
}

@media(max-width: 770px){
    #forside-bilde {
        font-size: 5.5vw;
    }
    h2 {
        font-size: 2.2rem !important;
    }
}

/* Ha med det under om du vil ha eget tema for sien */

:root {
    --fag_blå: #2A2A72;
    --fag_grønn: #64F58D;
    --fag_sort: #232528;
    --fag_oransje: #F09642;
}
.sentrale-temaer > ul > li{
    padding: 15px !important;
    font-size: 1.1rem;
}
.rask-oversikt, .divider-element {
    background-color: var(--fag_grønn) !important;
}
.hvordan-jobber-vi, .interaktivt-element, #andre-fag {
    background-color: var(--fag_blå) !important; /* overstyrer originalfarge */
    color: white !important;
}
#andre-fag:hover {
    background-color: #3E3E7D !important;
}
.mer-informasjon {
    background-color: var(--fag_oransje) !important;
}